{% extends 'survey/base.html' %}

{% block content %}
{{ super() }}
    <div class="">
        <h1 class="text-center">О нас</h1>
        <p>Сайт сделан специально для проведения данного опроса. Для получения обратной связи, перейдите на странуцу "Обратная связь".</p>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Исходный код сайта</h5>
                    <p class="card-text">Исходный код сайта можно найти на Github.</p>
                    <a href="https://github.com/dobrodelete/Survey" class="btn btn-primary">Посмотреть на Github</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
