{% extends 'survey/base.html' %}

{% block content %}
{{ super() }}
    <div class="">
        <h1 class="text-center">Политика конфеденциальности и обработка персональных данных.</h1>
        <p>Мы ценим вашу конфиденциальность и уделяем большое внимание безопасности ваших персональных данных.</p>
        <p>Вся информация, которую вы предоставляете на нашем сайте, используется исключительно для обработки и анализа предоставленных вами данных, которые хранятся на серверах <a href="https://iac.spb.ru/">СПб ГУП «СПб ИАЦ»</a>.</p>
        <p>Мы не передаем вашу информацию третьим лицам без вашего явного согласия.</p>
    </div>
{% endblock %}
